* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: rgba(247, 176, 176, 1);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
  border-bottom: 0.4px solid #FFF2E7;
}

.cabecalho-imagem {
  height: 72px;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

#divBusca{
    background-color:#ffffff;
    border:solid 2px #ec8d8d;
    border-radius:10px;
    width:900px;
    height: 37px;
    border-style: inset;
    color: #000000;
    display: flex;
    font-family: sans-serif;
    font-size: 1em;
}
  
#txtBusca{
    float:left;
    background-color:transparent;
    border:none;
    height:32px;
    width:965px;
    font-family: sans-serif;
    font-size: 1em;
}

#btnBusca{
    border:none;
    float:left;
    height:33px;
    border-radius:0 7px 7px 0;
    width:70px;
    background:#e96d6d;
    margin-top: 0px;
}
  
#divBusca img{
    float:left;
    height: 30px;
    width: 30px;
}

.conteudo{
    display: grid;
    grid-template-areas: none;
    grid-template-areas: "menu produtos conteudo-principal";
    
}

form {
    background-color: rgb(253, 147, 147);
    padding: 30px;
    border-radius: 24px;
    padding-top: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 0px;
}

.titulo{
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    margin-top: auto;
    border: solid #e96d6d 2px;
    border-style: inset;
    border-radius: 5px;
}

form input {
    width: 100%;
}

form > div {
    margin-bottom: 20px;
}

form > div:last-of-type {
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
}

input, button, label, a, h3 {
    font-family: sans-serif;
    font-size: 1em;
    color: #aa433e;
    border-radius: 5px;
    
}

button {
    margin-top: 15px;
    margin-left: 135px;
    background: #d5362e;
    border: 0;
    color: white;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

button:hover {
    background: #e65858;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
}

.cadastro{
    display: grid;
    margin-right: 195px;
    margin-top: 100px;
}

.Informacoes{
    grid-template-columns: 100px 100px 100px 100px;
}

.Imagem{
    display: flex;
    justify-content: center;
    margin-top: 130px;
}

.inserir{
    margin-top: 50px;
}

.campo{
    margin-top: 20px;
}

.menu{
    border: solid black 2px;
    display: grid;
    grid-template-rows: auto;
    text-align: center;
    width: 150px;
    height: 96%;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 10px;
}

.produtos{
    border: solid green 3px;
    width: 700px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
}

.catalogo{
    border: solid saddlebrown 3px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 5px;
}

.img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
    border: double #aa433e 2px;
}

.itens{
    border: solid darkblue 3px;
    display: grid;
    justify-content: center;
}

.rodape{
    border: solid firebrick 3px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 300px;
}

.meio{
    border-bottom: 0.4px solid #FFF2E7;
}
