* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: rgba(247, 176, 176, 1);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
  border-bottom: 0.4px solid #FFF2E7;
}

.cabecalho-imagem {
  height: 72px;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-weight: 400;
  font-size: 18px
}

#divBusca{
    background-color:#E0EEEE;
    border:solid 2px #5F9EA0;
    border-radius:10px;
    width:300px;
    height:32px;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:191px;
  }
  
  #btnBusca{
    border:none;
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background:#5F9EA0;
  }
  
  #divBusca img{
    float:left;
  }

.conteudo-principal{
    display: flex;
    border-radius: 25px;
    float: right;
    border: solid black 2px;
}

form {
    background-color: #f7b0b0;
    padding: 30px;
    border-radius: 24px;
    padding-top: 50px;
}

.titulo{
    display: flex;
    justify-content: center;
    margin-top: auto;
    border: solid #e96d6d 2px;
    border-style: inset;
    border-radius: 5px;
}

form input {
    width: 100%;
}

form > div {
    margin-bottom: 20px;
}

form > div:last-of-type {
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
}

input, button, label, a, h3 {
    font-family: sans-serif;
    font-size: 1em;
    color: #d5362e;
    border-radius: 5px;
    
}

button {
    margin-top: 15px;
    margin-left: 135px;
    background: #d5362e;
    border: 0;
    color: white;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

button:hover {
    background: #e65858;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
}

.cadastro{
    display: grid;
    margin-right: 195px;
    margin-top: 100px;
}

.Informacoes{
    grid-template-columns: 100px 100px 100px 100px;
}

.Imagem{
    display: flex;
    justify-content: center;
    margin-top: 130px;
}

.inserir{
    margin-top: 50px;
}

.campo{
    margin-top: 20px;
}